<a href="<%= root_path %>">Home </a>
<% if false %> placeholder text for spacing <% end %>
&nbsp

<a href="<%= textbooks_path %>">Index </a>
&nbsp

<a href="<%= profile_path %>">Profile </a>

&nbsp

<a href="<%= new_textbook_path %>">Make new listing </a>

