.hero {
    width: 200px;
    height: 200px;
    background-image: url(image-path("TextHero.jpg"));
    background-size: contain;
    background-repeat: no-repeat;
}
.hero_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}